.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge__dot {
  width: 7px;
  height: 7px;
  left: 30px;
  bottom: 30px;
}

.dot {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 3px;
  position: absolute;
  left: 23px;
  bottom: 23px;
}
